/.idea
/node_modules
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
/public/js/**
/public/fonts/vendor/**
/public/images/**
/bootstrap/cache/**
!/bootstrap/cache/.gitkeep
/storage/**
/resources/js/.vscode/
!/storage/app/.gitkeep
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep
.env.example
bootstrap/cache/packages.php
bootstrap/cache/services.php
public/js/app.js
public/js/manifest.js
public/js/vendor.js
typechange: public/storage
storage/logs/**
!storage/logs/.gitkeep
public/js/*
